.footer__link-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
/* 620px */
@media screen and (max-width: 620px) {
  .footer__link-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 32px;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .footer__link-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 32px;
  }
}
