.places {
  max-width: 984px;
  width: calc(100% - 2*148px);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 80px;
}

/* 1024px */
@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 48px);
    row-gap: 73px;
    padding-top: 88px;
  padding-bottom: 90px;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    row-gap: 50px;
    padding-top: 64px;
  padding-bottom: 66px;
  }
}
