.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
/* 520px */
@media screen and (max-width: 520px) {
  .cover__subtitle {
    max-width: 490px;
  }
}
/* 450px */
@media screen and (max-width: 450px) {
  .cover__subtitle {
    max-width: 380px;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 288px;
    line-height: 114%;
  }
}
