.lead__title {
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  font-size: 96px;
  font-weight: 900;
  max-width: 720px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
}
/* 720px */
@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 620px;
    font-size: 76px;
  }
}

/* 540px */
@media screen and (max-width: 540px) {
  .lead__title {
    max-width: 480px;
    font-size: 58px;
  }
}
/* 450px */
@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 410px;
    font-size: 52px;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    padding-bottom: 16px;
  }
}
