.footer__copyright {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
}
/* 620px */
@media screen and (max-width: 620px) {
  .footer__copyright {
   padding-top: 48px;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .footer__copyright {
   padding-top: 48px;
  }
}
