.intro {
  padding: 92px 442px 92px 148px;
  display: flex;
  flex-direction: column;
}
/* 1024px */
@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 286px 92px 48px;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
}
/* 425px */
@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px;
  }
}
