.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  max-width: 640px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 64px;
}
/* 1024px */
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: calc(100% - 48px);
  }
}
/* 520px */
@media screen and (max-width: 520px) {
  .lead__subtitle {
    max-width: 420px;
    width: calc(100% - 32px);
    font-size: 20px;
    padding-bottom: 40px;
  }
}
/* 450px */
@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 125%;
  }
}
