.place__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  opacity: 1;
  margin-top: 12px;
}

.place__link:hover {
  opacity: .8;
}
