.cover__title {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 105%;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

/* 520px */
@media screen and (max-width: 520px) {
  .cover__title {
   font-size: 62px;
   max-width: 490px;
  }
}
/* 450px */
@media screen and (max-width: 450px) {
  .cover__title {
    font-size: 48px;
    max-width: 380px;
    width: calc(100% - 32px);
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .cover__title {
   font-size: 32px;
   line-height: 109%;
   max-width: 288px;
  }
}
