.cover__title {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 105%;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

/* 720px */
@media screen and (max-width: 720px) {
  .cover__title {
   font-size: 46px;
   max-width: 420px;
  }
}
/* 450px */
@media screen and (max-width: 450px) {
  .cover__title {
   font-size: 32px;
   line-height: 109%;
   max-width: 288px;
  }
}
