.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(320px, 1fr);
  grid-template-rows: 2fr;
  gap: 48px 40px;
}

/* 1024px */
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: 2fr;
    gap: 48px 32px;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 2fr;
    gap: 48px 28px;
  }
}
/* 630px */
@media screen and (max-width: 630px) {
  .place {
    grid-template-columns: 288px 1fr;
    grid-template-rows: 2fr;
    gap: 36px 18px;
  }
}
/* 520px */
@media screen and (max-width: 520px) {
  .place {
    grid-template-columns: 220px 1fr;
    grid-template-rows: 2fr;
    gap: 28px 12px;
  }
}
/* 450px */
@media screen and (max-width: 450px) {
  .place {
    grid-template-columns: 360px;
    grid-template-rows: 4fr;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 320px;
    grid-template-rows: 4fr;
  }
}
