.footer {
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 1024px */
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    width: calc(100% - 48px);
  }
}
/* 620px */
@media screen and (max-width: 620px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
/* 320px */
@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 16px;
    margin: 0;
  }
}
