.intro__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 107%;
  margin: 0 0 40px;
  display: flex;
}

/* 320px */
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}
